// FIND OUT MORE BUTTON
.intro a,
.this-month a {
    @include button-one();
}

// READ MORE BUTTON

.new-additions a,
.meet-real-nemo a {
    @include button-two();
}

// ICON LINKS

.icon-links i {
    border-radius: 50%;
    background-color: $secondary-color;
}

// FORM BUTTONS

.form button {
    color: $primary-color;
    background-color: $secondary-background-color;
}

.contact button {
    color: $primary-color;
    background-color: $background-color;
}

// SOCIAL MEDIA ICONS

.social-icons li {
    display: inline;
    padding: 0 10px;
}
