// FOOTER STYLES

.footer {
    background-color: $secondary-color;
    color: $background-color;
    padding: 1px 10px;
    text-align: center;
}

.footer a {
    color: $background-color;
    text-decoration: none;
}