// Widescreen laptops
@media (min-width: 1280px) and (max-width: 1600px){
    .hamburger-nav {
    display: none;
    }
}

@media (min-width: 400px) and (max-width: 1280px){
    .hamburger-nav {
    display: none;
    }
}

// 

@media (max-width: 1233px){

    .index-header span {
        display: inline;
    }

    .index-header h1 {
        margin-top: 200px;
    }

    .header-image img {
        display: none;
    }

}

@media (max-width: 872px){

    .header-title {
        padding: 10px;
    }

    .intro {
        padding: 100px;
    }

    .new-additions-container,
    .meet-real-nemo-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .left-image-container img {
        box-shadow: none;
        position: none;
    }

    .right-image-container img {
        box-shadow:  none;
        position: none;
    }

    .new-additions,
    .meet-real-nemo {
        padding: 0;
        width: 100%;
    }

    .icon-links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .icon-links li {
        width: 50%;
    }

    .this-month-description {
        width: auto;
    }

    .gallery li {
        padding: 10px;
        margin: 0 auto;
    }
    
}

@media (max-width: 700px){
    .header-nav {
        display: none;
    }

    .hamburger-nav  {
        display: flex;
        justify-content: flex-end;
        font-size: 6.0rem;
        font-weight: lighter;
    }    

    .intro {
    padding: 60px 10px;
    }
}

// Mobile screens
@media (max-width: 320px){

    html {
        font-size: 30%;
    }

    .header-nav {
        display: none;
    }

    .hamburger-nav  {
        display: inline-block;
        font-size: 6.0rem;
        font-weight: lighter;
    }

    .header-image img {
        width: 250px;
        height: 200px;
    }

    .intro {
        padding: 0;
    }

    h1 {
        @include font-size(10.5rem);
        line-height: 80px;
    }

    body {
        font-size: 2.5rem;
    }

}