// INDEX MEDIA QUERY

// Widescreen laptops
@media (min-width: 1280px) and (max-width: 1600px){
    .hamburger-nav {
    display: none;
    }
}

@media (min-width: 400px) and (max-width: 1280px){
    .hamburger-nav {
    display: none;
    }
}

// 

@media (max-width: 1260px){

    .index-header span {
        display: inline;
    }

    .index-header h1 {
        margin-top: 200px;
    }

    .header-image img {
        display: none;
    }

    .intro {
        padding: 100px;
    }

}

@media (max-width: 872px){

    .header-title {
        padding: 10px;
    }

    .new-additions-container,
    .meet-real-nemo-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .left-image-container img {
        box-shadow: none;
        position: none;
    }

    .right-image-container img {
        box-shadow:  none;
        position: none;
    }

    .new-additions,
    .meet-real-nemo {
        padding: 0;
        width: 100%;
    }

    .icon-links {
        padding: 10px;
    }

    .this-month-description {
        width: auto;
    }

    .gallery li {
        padding: 0;
        margin: 0 auto;
    }

    .gallery img {
        padding: 10px;
    }
    
}

@media (max-width: 700px){

    .header-nav {
        display: none;
    }

    .hamburger-nav  {
        display: flex;
        justify-content: flex-end;
        font-size: 6.0rem;
        font-weight: lighter;
    }    

    .intro {
        padding: 60px 10px;
    }

}

@media (max-width: 500px){

    html {
        font-size: 40%;
    }  

    .icon-links {
        padding: 10px;
    }
    .icon-links ul {
        padding: 0;
    }

    .icon-links li {
        min-width: 300px;
    }

}

// Mobile screens
@media (max-width: 320px){

    html {
        font-size: 30%;
    }  

    header {
        height: 70vh;
    }


    .intro {
        padding: 0;
    }

    h1 {
        @include font-size(10.5rem);
        line-height: 80px;
    }

    .gallery img {
        width: 80px;
        padding: 10px 0;
    }

    body {
        font-size: 2.5rem;
    }

}

// BLOG PAGE MEDIA QUERY

@media (max-width: 1126px){

    .blog-section,
    .blog-aside {
        width: 50%;
    }

}

@media (max-width: 890px){
    .blog-section,
    .blog-aside {
        width: 100%;
    }

    .blog-flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .blog-section {
        padding: 0 20px;
        margin-top: 20px;
    }
}

@media (max-width: 700px){

    .blog-nav {
        display: none;
    }

    .hamburger-nav  {
        display: flex;
        justify-content: flex-end;
        font-size: 6.0rem;
        font-weight: lighter;
    }

    .form p,
    .contact p {
        padding: 30px;
    }
}

@media (max-width: 424px){
    
    .blog-aside-info img {
        width: 80%;
        height: auto;
    }

    .blog-aside-info {
        padding-top: 200px;
    }
    
    .form p,
    .contact p {
        padding: 10px;
    }
}


// CONTACT PAGE MEDIA QUERY