// FONT SIZE
@mixin font-size($font-size-value) {
    font-size: $font-size-value;
    color: $primary-color;
}

// BUTTONS

@mixin button-one() {
    color: $background-color;
    background-color: $secondary-color;
    line-height: 29px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px;
}

@mixin button-two() {
    color: $primary-color;
    background-color: $background-color;
    line-height: 29px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px;
}