// TYPOGRAPHY STYLES

html {
    font-style: $base-font;
    @include font-size(62.5%);
}

h1,
h2,
h3,
h4,
h5,
.header-nav,
.blog-nav,
.contact-nav,
.intro a,
.new-additions a,
.meet-real-nemo a,
.this-month a,
button {
    font-family: $base-font;
    text-transform: uppercase;
}

body {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 32px;
}

h1 {
    @include font-size(13.8rem);
    line-height: 126px;
}

h2 {
    @include font-size(8rem);
    line-height: 92px;
    text-align: center;
}

h3 {
    @include font-size(4.2rem);
    text-align: center;
    letter-spacing: 1px;
}

h4 {
    @include font-size(3.2rem);
    letter-spacing: 1px;
}

h5 {
    @include font-size(2rem);
    letter-spacing: 1px;
}

.header-nav,
.blog-nav,
.contact-nav {
    @include font-size(2rem);
    line-height: 29px;
    letter-spacing: 1px;
}

ul {
	list-style-type: none;
}

li { 
	text-align: center;
}

nav a,
.social-icons i {
    text-decoration: none;
    color: $primary-color;
}

.icon-links i {
    color: $background-color;
    font-size: 2.5rem;
}
