html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

.intro,
.this-month,
.blog-flex-container,
.form,
.contact-aside {
  background-color: #0C1423;
}

.new-additions-container,
.meet-real-nemo-container,
.gallery,
.blog-aside-info,
.contact-form {
  background-color: #0F614E;
}

html {
  font-style: "Barlow", sans-serif;
  font-size: 62.5%;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
.header-nav,
.blog-nav,
.contact-nav,
.intro a,
.new-additions a,
.meet-real-nemo a,
.this-month a,
button {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
}

h1 {
  font-size: 13.8rem;
  color: #FFFFFF;
  line-height: 126px;
}

h2 {
  font-size: 8rem;
  color: #FFFFFF;
  line-height: 92px;
  text-align: center;
}

h3 {
  font-size: 4.2rem;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
  color: #FFFFFF;
  letter-spacing: 1px;
}

h5 {
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.header-nav,
.blog-nav,
.contact-nav {
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 29px;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

nav a,
.social-icons i {
  text-decoration: none;
  color: #FFFFFF;
}

.icon-links i {
  color: #0C1423;
  font-size: 2.5rem;
}

.intro a,
.this-month a {
  color: #0C1423;
  background-color: #86E0F9;
  line-height: 29px;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px;
}

.new-additions a,
.meet-real-nemo a {
  color: #FFFFFF;
  background-color: #0C1423;
  line-height: 29px;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px;
}

.icon-links i {
  border-radius: 50%;
  background-color: #86E0F9;
}

.form button {
  color: #FFFFFF;
  background-color: #0F614E;
}

.contact button {
  color: #FFFFFF;
  background-color: #0C1423;
}

.social-icons li {
  display: inline;
  padding: 0 10px;
}

header {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  padding: 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-image img {
  border: 8px #86E0F9;
  width: 100%;
  height: 550px;
  position: relative;
  bottom: -100px;
}

.index-header {
  background: url("../assets/header-image.jpg");
  width: 100%;
}

.blog-header {
  background: url("../assets/blog-header.jpg");
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-header {
  background: url("../assets/contact-header.jpg");
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-nav,
.blog-nav,
.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.home-nav a {
  color: #86E0F9;
}

.intro {
  padding: 100px 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro p {
  text-align: left;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new-additions-container,
.meet-real-nemo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-image-container img,
.right-image-container img {
  width: 100%;
  height: auto;
}

.left-image-container img {
  -webkit-box-shadow: 25px 25px 0 0 #86E0F9;
          box-shadow: 25px 25px 0 0 #86E0F9;
  position: relative;
  top: -25px;
}

.right-image-container img {
  -webkit-box-shadow: -25px 25px 0 0 #86E0F9;
          box-shadow: -25px 25px 0 0 #86E0F9;
  position: relative;
  bottom: -10px;
}

.new-additions,
.meet-real-nemo {
  padding: 50px;
  width: 60%;
}

.new-additions {
  padding-left: 100px;
}

.meet-real-nemo {
  padding-right: 100px;
  text-align: right;
}

.icon-links {
  background: #0C1423;
  padding: 50px;
}

.icon-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-links li {
  width: calc((100% / 3) - 30px);
  margin: 0 auto;
  padding: 10px;
  min-width: 450px;
  text-align: left;
}

.locations,
.blog,
.community,
.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.locations i,
.blog i,
.community i,
.get-in-touch i {
  height: 100%;
  padding: 10px;
}

.locations h4,
.blog h4,
.community h4,
.get-in-touch h4 {
  padding-left: 10px;
  margin: 0;
}

.banner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.this-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.this-month img {
  width: calc(30% / 40px);
  margin: 40px;
  -webkit-box-shadow: 30px 30px 0 0 #86E0F9;
          box-shadow: 30px 30px 0 0 #86E0F9;
}

.this-month-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery li {
  width: calc(100%/3)-40px;
  padding: 40px 20px;
}

.gallery img {
  width: 300px;
}

.blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-aside {
  width: 37%;
}

.blog-aside-info img {
  width: 400px;
  height: 350px;
  position: absolute;
  z-index: 1;
  top: 400px;
  left: 0;
}

.blog-aside-info {
  padding-top: 300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blog-aside-info h5 {
  margin: 30px 0 0 0;
}

.aside-list li {
  list-style: disc;
  text-align: left;
}

.blog-section {
  width: 60%;
}

.discovering-new-species {
  border: solid #86E0F9 5px;
  border-right: 0em;
  border-top: 0em;
}

.discovering-new-species h3,
.discovering-new-species p {
  margin: 0;
  padding: 10px 40px;
}

.blog-image {
  width: 100%;
  height: auto;
  -webkit-box-shadow: -35px 35px 0 0 #86E0F9;
          box-shadow: -35px 35px 0 0 #86E0F9;
  position: relative;
  top: -100px;
  right: 0;
  bottom: 0;
}

.blog-section h3 {
  text-align: left;
}

.comment-container1,
.comment-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-container1 img,
.comment-container2 img {
  margin: 30px;
  width: 30%;
  height: 100px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  padding: 30px;
}

.form {
  margin: 50px 0;
}

.form input {
  width: 100%;
  height: 150px;
  border: solid 3px #86E0F9;
  background: #0C1423;
  color: #FFFFFF;
  padding: 30px;
  margin: 20px 0;
}

button {
  padding: 10px;
}

.form p,
.contact p {
  border-bottom: solid 3px #86E0F9;
  display: inline;
  margin-left: 30px;
  padding: 0 100px;
  text-align: left;
}

.contact-aside {
  padding: 50px;
}

.contact-info {
  margin-left: 50px;
  line-height: 1rem;
}

.contact-form {
  -webkit-box-shadow: -25px 25px 0 0 #86E0F9;
          box-shadow: -25px 25px 0 0 #86E0F9;
  padding: 30px;
}

.contact {
  width: 60%;
  position: absolute;
  top: 250px;
  right: 0;
  margin-right: 40px;
}

.contact input {
  background-color: #0F614E;
  height: 230px;
  border: solid 3px #86E0F9;
  padding: 30px;
  margin: 20px 0;
}

.footer {
  background-color: #86E0F9;
  color: #0C1423;
  padding: 1px 10px;
  text-align: center;
}

.footer a {
  color: #0C1423;
  text-decoration: none;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .hamburger-nav {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 1280px) {
  .hamburger-nav {
    display: none;
  }
}

@media (max-width: 1233px) {
  .index-header span {
    display: inline;
  }
  .index-header h1 {
    margin-top: 200px;
  }
  .header-image img {
    display: none;
  }
}

@media (max-width: 872px) {
  .header-title {
    padding: 10px;
  }
  .intro {
    padding: 100px;
  }
  .new-additions-container,
  .meet-real-nemo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-image-container img {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: none;
  }
  .right-image-container img {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: none;
  }
  .new-additions,
  .meet-real-nemo {
    padding: 0;
    width: 100%;
  }
  .icon-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .icon-links li {
    width: 50%;
  }
  .this-month-description {
    width: auto;
  }
  .gallery li {
    padding: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .header-nav {
    display: none;
  }
  .hamburger-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 6.0rem;
    font-weight: lighter;
  }
  .intro {
    padding: 60px 10px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
  .header-nav {
    display: none;
  }
  .hamburger-nav {
    display: inline-block;
    font-size: 6.0rem;
    font-weight: lighter;
  }
  .header-image img {
    width: 250px;
    height: 200px;
  }
  .intro {
    padding: 0;
  }
  h1 {
    font-size: 10.5rem;
    color: #FFFFFF;
    line-height: 80px;
  }
  body {
    font-size: 2.5rem;
  }
}
